<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>shorter</title>
  <link rel="stylesheet" href="css/styleforlist2.css" type="text/css">
</head>
<body>
<div class="menu">
  <a href="/">Назад</a>
</div>
<table>
  <tr>
    <th class="first">
      Исходная ссылка
    </th>
    <th>
      Укороченная ссылка
    </th>
    <th>
      Колличесво переходов
    </th>
    <th>
    </th>
    <th>
    </th>
  </tr>
  <tr th:each = "url :${urlmodels}">
    <td class="first"  th:text="${url.lonUrl}"></td>
    <!--http://localhost:8081/1/-->
    <td th:text="'https://url4566.herokuapp.com/' + ${url.getShorUrl()}">ghjghcj</td>
    <td class="visits"  th:text="${url.getCounter()}">ghjgjhgjhgj</td>
    <td class="link red"><a th:href="'/del/' + ${url.getId()}">Удалить ссылку</a></td>
    <td class="link blue"><a th:href="'/statistics/' + ${url.getId()}">Подробная статистика</a></td>
  </tr>
</table>
</body>
</html>